@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

body {
  font-family: "Nunito-sans", sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  --brand-color: #033fa7;
  --font: "Nunito sans";
}

nav {
  position: fixed;
  top: 0vw;
  width: 100%;
  height: 3.5vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(0, 53, 146, 0.8);

  z-index: 10;

  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

nav div {
  color: white;
  font-size: 1.5vw;
  line-height: 3.5vw;
  position: absolute;
  top: 0;
  left: 4vw;

  text-shadow: 2px 2px black;
}

nav ul {
  list-style-type: none;
  margin: 0 4vw auto 0;
  padding-left: 0;
  text-align: right;
  max-width: 100%;
}
nav ul li {
  text-align: center;
  display: inline-block;
  line-height: 80%;
  margin: 0.6vw 0.8vw 0.6vw 2vw;
  padding: 0.8vw 2vw 0.7vw 2vw;
  border-right: 1px hidden #3b3d40;
}
nav ul li:hover {
  transform: scale(1.1);
  border: solid 1px white;
  border-radius: 4px;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  text-shadow: 2px 2px #28292b;
}

.blog {
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: 5% 0%;
  background-color: rgb(231, 236, 245);
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

.content {
  background-color: #fff;

  width: 60vw;
  height: 85vh;
  padding-top: 0;
  box-shadow: 0 14px 28px rgba(0, 53, 146, 0.25),
    0 10px 10px rgba(0, 53, 146, 0.22);
  border-radius: 10px;
  border-top: hidden;
  position: relative;
}
.buttons {
  position: absolute;
  top: 1%;
  left: 5%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  width: 90%;

  border: 0.5px solid rgba(50, 104, 196, 0.35);
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
  border-radius: 10px;
}
.backSave {
  position: absolute;
  bottom: 2%;
  right: 4%;
  width: 45%;
  height: 20%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.backSaveButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
  height: 50%;
  border: 0.5px solid rgba(50, 104, 196, 0.35);
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
  border-radius: 6px;
  font-size: 1.8vh;
  font-family: var(--font);
  color: #fff;

  transition: transform 0.3s ease;
}
.backSaveButtons:hover {
  transform: scale(1.05);
  cursor: pointer;
}
#save {
  background-color: #0fce1fe3;
  width: 100%;
}
#back {
  background-color: #caaa19e1;
  width: 100%;
}

.buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 7%;
  margin-left: 1%;

  border: 0.5px solid rgba(50, 104, 196, 0.35);
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
  border-radius: 10px;

  transition: transform 0.3s ease;
}
.buttons .button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.buttons .button h3 {
  text-align: center;
  font-size: 1.8vh;
  font-family: var(--font);
  color: var(--brand-color);
  text-shadow: 1px 1px 0 rgba(6, 12, 63, 0.349);
}

input[type="text"] {
  width: 40%;
  max-width: 60%;
  border: 0.5px solid rgba(50, 104, 196, 0.35);
  border-radius: 4px;
  background-color: rgba(224, 224, 228, 0.445);
  text-shadow: 2px 2px 2px rgba(1, 29, 78, 0.4);
  box-shadow: inset 3px 3px 2px rgba(0, 53, 146, 0.35);
  padding: 2vh 2vw;
  transition: border 0.4s ease-in-out;

  text-decoration: none;
  font-family: "Nunito-sans";
  font-size: 2vw;
  line-height: 3vh;
  color: var(--brand-color);
}
form {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

input[type="text"]:focus {
  outline: none !important;
  border: solid 2px var(--brand-color);
}
input[type="submit"] {
  font-family: var(--font);
  text-shadow: 1px 1px 0 rgba(6, 12, 63, 0.349);
  color: #fff;
  background-color: var(--brand-color);
  border: none;
  border-radius: 6%;
  font-size: 2.5vh;
  padding: 1.6vh 1.8vw;
  margin: 1vh 1vw;
  margin-left: 3 vw;
  cursor: pointer;
  transition: border 0.4s ease;
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
}
.editAlbumDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.editAlbumDiv:last-child {
  height: 60%;

  justify-content: center;
  align-items: center;
}

.buttonsDescription {
  visibility: hidden;
  position: absolute;
  right: 2%;
  top: 5%;
  height: fit-content;
  width: fit-content;
}
.buttonDescriptionH3 {
  font-family: var(--font);
  color: var(--brand-color);
  font-size: 0.9em;
}

.editAlbumButtons {
  height: 90%;
  width: 15%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 25%;
  margin-left: 5%;
}
.editButtonsContainer {
  position: relative;
  height: 70%;
  width: 50%;
  text-align: center;
  border: 0.5px solid rgba(50, 104, 196, 0.35);
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
  border-radius: 10px;

  transition: transform 0.3s ease;
}
.editButtonsContainer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.buttonIcon {
  height: 70%;
  width: 70%;
  margin: 13% 8% 8% 12%;

  cursor: pointer;
}
input[type="file"] {
  top: 12%;
  left: 12%;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  font-size: 5vw;
  height: 70%;
  width: 70%;
}
.uploadFilePreview {
  height: 70%;
  width: 80%;
  align-self: center;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  margin: auto 10% 10% 10%;

  border-radius: 6px;
  background-color: rgba(224, 224, 228, 0.445);
  box-shadow: inset 3px 3px 2px rgba(0, 53, 146, 0.35);
}
.uploadFilePreview img {
  height: 80%;
  width: 30%;
}

.uploadFilePreview ul {
  list-style-type: none;
}
#pregledSlike {
  margin: 3vh 5vw 3vh 5vw;
  height: 40%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
}
.uploadFilePreview ul li ul {
  list-style-type: none;

  margin: auto 2% auto auto;
}

.uploadFilePreview ul li ul li h3 {
  text-align: left;

  font-family: var(--font);
  font-size: 0.9em;
}

.pictures {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 60%;
  width: 80%;
  bottom: 12%;
  left: 8%;
  padding: 1vw 1.1vw 1.8vw 1.1vw;
  border: 0.5px solid rgba(50, 104, 196, 0.35);
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
  border-radius: 10px;
}

.pictures .pictures-container {
  visibility: visible;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 0.5em;
  row-gap: 0.5em;
  width: 85%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0.8vw;
  border-radius: 6px;
  background-color: rgba(224, 224, 228, 0.445);
  box-shadow: inset 3px 3px 2px rgba(0, 53, 146, 0.35);
}
.pictures h2 {
  visibility: visible;
  font-family: "Nunito-sans";
  font-size: 2vw;
  line-height: 3vh;
  text-align: center;
  background-color: #fff;
  color: var(--brand-color);
  width: 45%;
  max-width: 60%;
  border-radius: 6px;
  margin: 1.5% auto;
  padding: 2vh 1vw;
  background-color: rgba(224, 224, 228, 0.445);
  text-shadow: 2px 2px 2px rgba(1, 29, 78, 0.4);
  box-shadow: inset 3px 3px 2px rgba(0, 53, 146, 0.35);
}

.pictures .big-picture {
  visibility: hidden;
  margin-top: 2vw;
  width: 58vw;
  height: 60vw;
  background-image: url("http://placehold.it/144x150");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 2%;
}

.pictures .picture {
  width: 7vw;
  height: 15vh;
  border-radius: 6px;
  align-self: center;
  border: 0.5px solid rgba(50, 104, 196, 0.35);
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
  border-radius: 10px;

  transition: transform 0.3s ease;
}
.pictures .picture:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.brand-border {
  border: 2px solid var(--brand-color);
}
.pictures .picture img {
  width: 7vw;
  height: 15vh;
  border-radius: 10px;
  cursor: pointer;
}

aside {
  width: 24vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 53, 146, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  border-radius: 10px;

  border-top-left-radius: 0%;
  border-top-right-radius: 0%;

  border: 0.5px solid var(--brand-color);
  border-top: hidden;
}

aside .h3Wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  width: 96%;
  align-self: center;
  margin-top: 5%;
}
aside .h3Wrapper:first-of-type {
  font-size: 1.95vh;
  width: 100.5%;
  margin-top: -0.8%;
}

aside .h3Wrapper h3 {
  font-size: 1.8vh;
  font-family: var(--font);
  color: var(--brand-color);
  text-shadow: 1px 1px 0 rgba(6, 12, 63, 0.349);
  text-align: center;
  padding: 0.5%;
  margin-top: 0%;
  height: 50%;
  width: 100%;
  background-color: rgba(102, 109, 177, 0.349);

  border: 0.5px solid var(--brand-color);
  border-radius: 6px;
  cursor: pointer;
}
aside .h3Wrapper:nth-of-type(2) h3:nth-of-type(2) {
  margin-left: -0.2%;
  margin-right: -0.2%;
}
aside .h3Wrapper h3:nth-of-type(2) {
  margin-left: -0.1%;
  margin-right: -0.2%;
}
.chosenCardStyle {
  font-size: 2vh;
  background-color: #fff !important;
  border-bottom: hidden !important;
  border-bottom-left-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
  height: 62% !important;
  margin-top: -3% !important;
  padding-top: 1% !important;
}

.aside-ul-container {
  width: 95.5%;
  height: 75%;
  margin: -1.5vw 0vw;
  align-self: center;
  border-radius: 6px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;

  border: 0.5px solid var(--brand-color);
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
  border-top: hidden;
}

aside ul {
  height: 80%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 1vw 1vw;
  margin: 2vw 0.8vw;
  border-radius: 6px;
  background-color: rgba(224, 224, 228, 0.445);
  box-shadow: inset 3px 3px 2px rgba(0, 53, 146, 0.35);
}
aside ul li {
  position: relative;
  height: auto;
  text-align: left;
  border-radius: 6px;
  margin: 0.4vw 0.5vw;
  transition: transform 0.3s ease;

  padding: 0.2vw 0.4vw;
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
  background-color: #fff;
  border: 0.5px solid var(--brand-color);
}
aside ul li #addNew {
  margin-top: 2vw;
  border: 0.5px dotted var(--brand-color);
  text-align: center;
}

.active-text {
  transform: scale(1.1);
  border: solid 2px var(--brand-color) !important;
}

aside ul li:hover {
  transform: scale(1.1);
  cursor: pointer;
}
article {
  position: absolute;
  bottom: 1%;
  left: 18%;
  width: 50%;
  height: 70%;
  padding: 1vw 4vw 4vw 4vw;
  border: 0.5px solid rgba(50, 104, 196, 0.35);
  box-shadow: 3px 3px 2px rgba(0, 53, 146, 0.35);
  border-radius: 10px;
}
.text {
  font-size: 1vw;
  margin-top: 3%;
  max-width: 100%;
  height: 85%;
  overflow: auto;
  padding: 2vh 2vw;

  border-radius: 6px;
  box-shadow: inset 3px 3px 2px rgba(0, 53, 146, 0.35);
  background-color: rgba(224, 224, 228, 0.445);
}
article h3 {
  font-size: 0.7vw;
  font-family: var(--font);
  color: #fff;
  text-align: center;
  background-color: var(--brand-color);
  text-shadow: 1px 1px 0 rgba(6, 12, 63, 0.349);
  padding: 0 1vw;
  border: 2px solid var(--brand-color);
  border-radius: 6px;
  width: auto;

  position: absolute;
  right: -1.6vw;
  bottom: -0.5vw;
}

.blog .content article h2 {
  font-family: "Nunito-sans";
  font-size: 3vh;
  line-height: 3vh;
  width: 60%;
  max-width: 90%;
  text-align: center;
  background-color: #fff;
  color: var(--brand-color);
  border-radius: 6px;
  margin: 1.5% auto;
  padding: 1vh 1vw;
  background-color: rgba(224, 224, 228, 0.445);
  text-shadow: 2px 2px 2px rgba(1, 29, 78, 0.4);
  box-shadow: inset 3px 3px 2px rgba(0, 53, 146, 0.35);
}

.blog .content article p {
  font-family: var(--font);
  font-size: 1.06vw;
}

@media (max-width: 600px) {
  header {
    height: 70vw;
    z-index: 100;
  }

  nav div {
    display: none;
  }
  nav {
    top: 0vw;
    position: fixed;
    left: 0.1vw;
    width: 100%;
    height: 15vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 53, 146, 0.8);
    border-bottom: 1px solid white;
  }
  nav ul {
    width: 100%;
    text-align: center;
    height: 60%;
    margin-top: 2vw;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li:nth-of-type(1) {
    padding-right: 6.5vw;
    border-right: 1px solid white;
    border-bottom: hidden;
    padding-bottom: 2.6vw;
    padding-top: 3vw;
  }
  nav ul li:nth-of-type(2) {
    border-bottom: hidden;
    padding-top: 3vw;
  }
  nav ul li:nth-of-type(3) {
    padding-left: 6.5vw;
    border-left: 1px solid white;
    padding-bottom: 2.6vw;
    padding-top: 3vw;
    border-bottom: hidden;
  }
  nav ul li a {
    font-size: 6vw;
  }

  .blog {
    flex-direction: column;
    align-items: center;
  }
  .pictures {
    display: none;
  }
  .content {
    margin: 2vw 2vw 2vw 2vw;
    width: 99%;
    padding: 0vw 0vw 0vw 0vw;
  }

  .blog {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  aside {
    height: 80%;
    width: 100vw;
    text-align: center;
    margin: 3vw 0vw 2vw 4vw;
    box-shadow: none;
  }

  aside ul li {
    display: flex;
    justify-content: space-between;
    width: 72vw;
    height: 33vw;
    align-items: center;

    margin: 4vw 2vw;
    padding: 0vw 0vw 0vw 0vw;
  }
  aside h2 {
    font-size: 6vw;
    margin-bottom: 6vw;
  }
  aside ul li img {
    width: 33vw;
    height: 33vw;
  }
  div.caption {
    font-size: 4vw;
    height: 33vw;
    width: 33vw;
    line-height: 4vw;
  }
  aside ul li div:nth-of-type(1) {
    width: 25vw;
    height: 6vw;
    font-size: 4vw;
  }
  .active-text {
    transform: scale(1.2);
    margin: 3vw 3vw 3vw 1.7vw;
    border: solid 2px var(--brand-color);
  }
}
